* {
    margin: 0;
}

.wrapper {
    max-width: 960px;
    margin: auto;
}
.flexcenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textcenter {
    text-align: center;
}
.blockpadding {
    padding-top: 10%;
}
.topmargin {
    padding-top: 20px;
}
h2 {
    display: block;
    width: 100%;
    color: white;
}


/*******************************************
                Heading
*******************************************/

.top {
    background-color: rgb(199, 221, 234);
}
.toppicture {
    max-height: 20%;
    max-width: 20%;
}
.headingtext {
    color: black;
}
.navbar {
    display: none;
}

/*******************************************
                Main
*******************************************/
.main {
    background-color: rgb(169, 161, 158);
}
.formcontainer {
    padding-bottom: 0%;
}
.contactform {
    display: grid;
    color: white;
    width: 200px;
}
input {
    height: 35px;
}
textarea {
    height: 150px;
    resize: none;
}
input, textarea {
    margin-bottom: 5%;
    border: none;
    border-radius: 2px;
}
.submitbtn {
    justify-self: center;
    background-color: white;
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 2px rgb(80, 80 ,80);
    text-transform: uppercase;
}
.mapcontainer {
    background-color: rgb(80, 80 ,80);
    background-image: url(img/map.jpg);
    padding: 10%;
}
.card {
    background-color: #fab131;
    padding: 20px;
}
.bottom {
    background-color: rgb(119, 117, 116);
    height: 100px;
}


/****************************************
                Media query

****************************************/
@media only screen and (min-width: 769px){

    /*************************************
                mainRules
                *************************/

    .flexcenter {
        flex-direction: row;
    }

    /************************************
            Heading desktop
    *********************************/
    .heading {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 400px;
        overflow: hidden;
    }
    .headingtext {
        grid-column: 2;
    }
    .toppicture {
        align-self: flex-start;
        margin-top: 20%;
        grid-row: 1;
        grid-column: 3;
        max-height: 150%;
        max-width: 150%;  
    }
    .navbar {
        display: flex;
        background-color: white;
        height: 68px;
        white-space: nowrap;
    }
    
    .navigations {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 20px 20%;
    }
    
    .navigations li {
        display: inline-flex;
        list-style: none;
    }

    .activepage {
        color: black;
    }
    a {
        text-decoration: none;
        color: rgb(169, 161, 158);
    }
    a:hover {
        color: black;
    }

    /************************************
            Main Desktop
    *************************************/
    .formcontainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 8%;
    }
    .contactform {
        width: 300px;
    }
    .submitbtn {
        justify-self: right;
    }

}
