.wrapper {
    max-width: 960px;
    margin: auto;


}
.top {
    background-color: rgb(199, 221, 234);
    height: 200px;

}
.main {
    background-color: rgb(169, 161, 158);
    height: 300px;
}
.mapcontainer {
    background-color: grey;
    height: 200px;
}
.bottom {
    background-color: rgb(119, 117, 116);
    height: 200px;
}

