* {
    margin: 0;
}

.wrapper {
    max-width: 1002px;
    margin: auto;
}
.flexcenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textcenter {
    text-align: center;
}

/*******************************************
                Heading
*******************************************/

.top {
    background-color: rgb(199, 221, 234);
}
.toppicture {
    max-height: 20%;
    max-width: 20%;
}
h2 {
    display: block;
    width: 100%;
}
.navbar {
    background-color: white;
    width: 100%;
    height: 68px;
    display: none;
}

/*******************************************
                Main
*******************************************/
.main {
    background-color: rgb(169, 161, 158);
    height: 544px;
}
.contactform {
    margin: auto;
}
.mapcontainer {
    background-color: rgb(80, 80 ,80);
    padding: 10%;
}
.card {
    background-color: #fab131;
    padding: 10px;
}
.bottom {
    background-color: rgb(119, 117, 116);
    height: 340px;
}

