
body {

   background-color: #E5E5E5;
   font-family: fira sans;
}
 @font-face {
    font-family:'fira sans';
    src: url(fonts/FiraSans-Regular.ttf);
    font-style: normal;
    font-weight: 100;

 }

 
 @font-face {
    font-family:'frank ruhl libre';
    src: url(fonts/FrankRuhlLibre-Bold.ttf);
    font-style: normal;
    font-weight: 100;
}
 
h2 {font-family: frank ruhl libre;}


.wrapper {

    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: auto auto auto;
    padding: 0px;
    max-width: 100%;
    min-width: 100%;

}

.blueblock {
    flex-direction: column;
    display: flex;
    background-color:#C7DDEA;
    grid-row: 1 / 1;
}




.blueblock h2  {
font-family: frank ruhl libre ;
 margin-top: 10%;
 justify-content: space-around;
 font-size: 45px;

 
 
}

 .blueblock p{
    font-family: fira sans ;
    font-size: 14px;
    margin-top: 10px;
    justify-content: space-around;
    padding: 10px;
     
 }
 .price {

    color: white;
 }


 .responsive {
    
    width: 100%;
    max-width: 300px;
    height: auto;
    padding-bottom: 0%;

}


.orangeblock {
    padding: 50px;
    flex-direction: column;
    background-color: orange;
    display: flex;
    grid-row: 2 / 2;
}

.orangeblock p {

    font-family: fira sans;
    justify-content: space-around;
    align-items: center;
    margin: auto;
  
    

}

.orangeblock h2{
    font-family: frank ruhl libre;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin: auto;

}


.redblock {
    padding: 50px;
    flex-direction: column;
    background-color:tomato;
    display: flex;
    grid-row: 3 / 3 ;
}

.redblock p {
    margin: auto;
    font-family: fira sans;
    align-items: center;
    justify-content: space-around;
}

.redblock h2{
    font-family: frank ruhl libre;
    align-items: center;
    justify-content: space-around;
    color: white;
    margin: auto;
}


/* här börjar kod för section boxes */


.boxes {
    
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: 25vh 25vh 25vh 25vh 25vh 25vh;
}

.boxes div {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.how {
    background-color: lightblue ;


}

.box1 {
    background-color: white ;

}

.box2 {
    background-color: lightgray;

}

.box3 {
    background-color: white;

}

.box4 {

    background-color:tomato ;
}

.box5 {
    background-color: white ;

}

.bottom {

   background-color: gray;
   min-height: 10vh;
  

}

.Takeup {
    background-color: darkgray;
    min-height: 2rem;

}

/* här börjar kod för main*/

main {
    background-color:gray;}

.containerAgeBoxes {
    /*behållare för de tre lådorna med bilder på barn vuxen gammal*/
    display: flex;
    flex-direction: column;
    /*ändra till row i desktop*/
    justify-content: center;
    align-items: center;
    

}

.ageImage {
    /*behållare för bilderna på personer i olika åldrar*/
    overflow: hidden; 
    width: 70vw;
    height: calc(70vw/2);
    /*kanske en dum storlek, behöver ändras til desktop*/
    margin: auto;
    /*centrerar bild-behållaren*/
    border-radius: 10px;
    /*gör hörnen rundade*/
    position: relative;
    top: -4rem;
    /*gör så att bildbehållaren flyttas uppåt, kanske dålig lösning*/
}

.adult {
    background: orange url("img/adult.png") no-repeat center 10px;
    /* 10px avstånd till toppen så inte huvudet slår i taket */
    background-size: 30% auto;
    /*bilden tar upp en 30% av behållarens bredd och klipps på höjden pga overflow hidden*/
}

.child {
    background: lightskyblue url("img/child.png") no-repeat center 20px;
    background-size: 30% auto;
}

.old {
    background: coral url("img/old.png") no-repeat center 20px;
    background-size: 45% auto;
    /*old fart är lite bredare än de andra*/
}

.ageBox {
    background-color: white;
    margin: 2em;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.introHeader{
    padding: 10% 10% 0 10%;
    /*ingen padding bottom annars blir det för långt avstånd under rubriken*/
}
    
.introText{
    padding: 0 10% 10% 10%;
    /*ingen padding top */
}


.about {
    background-color: orange;
    padding:10%;
}

main button {display:none;}

/* här slutar kod för main*/



/****************************************
                Media queryDenRätta
****************************************/
@media only screen and (min-width: 769px){

/* här börjar kod för main*/

.ageImage {
    /*behållare för bilderna på personer i olika åldrar*/ 
    width: 20vw;
    height: calc(20vw/2);
}

main {
    background: linear-gradient(180deg,gray 50%,orange 50%);
    /*två bakgrundsfärger*/ 
    display: grid;
    grid-template-rows: repeat (3, 1fr);
    grid-template-columns: repeat (2, 1fr);}

main button{
    display:block;
}

.introHeader{
    grid-row: 1/2;
    grid-column:1/2;
    margin:auto;
    padding:20%;
}

.introText {
    grid-row: 1/2;
    grid-column:2/3;
    margin:auto;
    padding:20%;
}

.about {
    grid-row: 3/4;
    grid-column:1/3;
}

.containerAgeBoxes {
    grid-row: 2/3;
    grid-column: 1/3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:transparent;
}

.introHeader, .about h2 {color:white;}

/* här börjar kod för section boxes */

.boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.boxes div {grid-row: auto;
    grid-column: auto;
}
/* de lägger sig i första lediga ruta, mkt fiffigt */






}

/* här slutar kod för main*/



/****************************************
                Media query
****************************************/
@media only screen and (min-width: 769px){

/* här börjar kod för main*/

.ageImage {
    /*behållare för bilderna på personer i olika åldrar*/ 
    width: 10vw;
    height: calc(10vw/2);
}

main {
    background: linear-gradient(180deg,gray 50%,orange 50%);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;}

main button{
    display:block;
}

.introHeader
{
    grid-row: 1/2;
    grid-column:1/2;
}

.introText {
    grid-row: 1/2;
    grid-column:2/3;
}

.about {
    grid-row: 3/4;
    grid-column:1/3;
    background-color:transparent;
}

.containerAgeBoxes {
    grid-row: 2/3;
    grid-column: 1/3;
    /*behållare för de tre lådorna med bilder på barn vuxen gammal*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:transparent;
}








/*

CSS TILL DESKTOP

body {

    background-color: rgba(236, 236, 236, 0.925);
}


    
.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 120px 120px 120px 120px ;
    max-width: 2000px;
    min-width: 500px;
    padding: 0px;
    margin-left: 0%;
  }

.familyimage {
    display: grid;
    grid-template-columns: 3 / 4;
    grid-template-rows: 3 / 4;
    max-width: 250px;
    max-height: 250px;
    padding-left: 40%;
    padding-bottom: 0%;
    
}

.responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
  }


.item1 {
    
    background-color: rgb(186, 210, 223);
    display: flexbox;
    grid-column: 2 / 4;
    grid-row: 1 / 6;
}
¨



.item1 h2 {
    font-family: 'Times new roman';
    font-size: 40px;
    text-align: center;
}
.item1 p {
    font-family: Arial;
    text-align: center;
   padding-right: 20px;
   justify-content: space-around;
   max-width: 300px;
   padding-left: 50px;

}




.item2 {

    background-color:tomato;
    display: flex;
    grid-column: 4 / 6;
    grid-row: 1 / span 2;


}

.item2 h2 {

    text-align: center;
    color: white;
    font-size: 30px;
}
.item2 p{

    text-align: center;

}





.item3 {
    background-color: orange;
    display: flexbox;
    grid-column: 4 / 6;
    grid-row: 3 / span 4;

}

.item3 p{
    text-align: center;
}

.item3 h2 {
    text-align: center;
    color: white;
}


.nav-container{

    
    grid-row: 30x;
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    font-family: arial;
    font-size: 10 px; 
    margin: 17%;
    margin-bottom: 0%;
    margin-top: 0%;
}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px ;
    max-width: 2000px;
    min-width: 500px;
    
    
  }


.upperblock {

    margin-top: 0%;
    background-color:darkgray;
    display: flexbox;
    grid-column: 2 / 6;
    grid-row: 1 / 6;
    min-width: 500px;
    max-width: 1210px;

}

.lowerblock {
    margin-top: 0%;
    background-color: orange;
    display: flexbox;
    grid-column: 2 / 6;
    grid-row: 6 / 11;
    margin-bottom: 0%;
    min-width: 500px;


}

.grid-container3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 300px ;
    max-width: 1210px;
    min-width: 500px;
    padding: 0px;
    align-content: flex-end;
    margin: 17%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.uppersquare1 {
    margin-top: 0%;
   align-content: center;
   background-color: rgb(186, 210, 223);
   display: grid;
   grid-column: 1 / 1 ;
   grid-row: 1 / 1;

}

.uppersquare2 {

    margin-top: 0%;
    background-color: white;
    display: grid;
    grid-column: 2 / 2 ;
    grid-row: 1 / 1;
 
 }

 .uppersquare3 {

    margin-top: 0%;
    background-color:rgba(236, 236, 236, 0.925);
    display: grid;
    grid-column: 3 / 3 ;
    grid-row: 1 / 1;
 
 }

 .lowersquare1 {

    background-color: white;
    display: grid;
    grid-column: 1 / 1 ;
    grid-row: 2 / 2;

 }



 .lowersquare2 {
    background-color: tomato;
    display: grid;
    grid-column: 2 / 2 ;
    grid-row: 2 / 2;
 

    
}


.lowersquare3 {


    background-color: white;
    display: grid;
    grid-column: 3 / 3 ;
    grid-row: 2 / 2;
 
    
}

.bottomnavbar{
    display: flex;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 100px ;
    max-width: 1210px;
    min-width: 500px;
    padding: 0px;
    margin: 17%;
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: rgb(145, 145, 145);
}

.bottomnavbar p {
    margin-left: 20%;
    text-align: center;
    max-width: 870px;
    min-width: 500px;
}

.grid-container4{

    display: grid;
    grid-template-columns: 'footerleft footerright' ;
    grid-template-rows: 400px ;
    max-width: 81210px;
    min-width: 500px;
    padding: 0px;
    margin: 17%;
    margin-top: 0%;
    margin-bottom: 0%;
    align-content: center;
    


}



.footerleft {

    display: grid;
    padding: 0px;
    margin: 0%;
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: rgb(80, 80, 80);
}
.footerright {
   
    display: grid;
    padding: 0px;
    margin: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 10%;
    background-color: rgb(80, 80, 80);

}



@media only screen and (max-width: 600px) {
   
    body {

        background-color: rgba(60, 17, 117, 0.925);

    }
    



  } 
  
HTML



}*/
}

