/************Emil Testar********************/
.card-container {
    display: flex;
    
}
.main-cards-con {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.main-card {
    display: grid;
    grid-template-columns:  20px 1fr 20px ;
    grid-template-rows: 20px 100px 100px 50px auto;
    margin: 10px 50px 10px 50px;
    
    
}
.white-box {
    background-color: white;
    grid-column: 1 / span 3;
    grid-row: 2 / span 4;
    border-radius: 5px;

}
.card-text {
    grid-column: 2;
    grid-row: 4 / span 2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 5px;
    margin: 10px;
}
.text {
text-align: center;
}
.card-img {
    grid-column: 2;
    grid-row: 1 / span 3;
    display: grid;
    grid-template-columns: 20px auto 20px;
    overflow: hidden;
    justify-content: center;
    border-radius: 5px;
}
.childpicture {
    padding-top: 40px;
    max-height: 200px;
    grid-column: 2;
    justify-self: center;
}
.adultpicture {
    padding-top: 40px;
    max-height: 500px;
    grid-column: 2;
    justify-self: center;
}

/*********Emils slut**********/

/* .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:transparent;
    padding: 100px 0;
    max-width: 760px;
}
.card-wrapper-2 {
    display: grid;
    padding: 0;
    grid-template-columns: 1rem auto 1rem;
    grid-template-rows: 3rem auto;
    margin: 10px;
}

.card-2 {
    background-color: white;
    border-radius: 1rem;
    grid-row: 1 / 3;
    grid-column: 2;
}

.card-content-2 {
    grid: image;
    text-align: center;
}

.card-image-2 {
    background-color: aqua;
    border-radius: 1rem;
    max-height: 8rem;
    overflow: hidden;
    display: grid;
    grid-area: image;
    justify-content: center;
    padding-top: 1rem;
}

.image-size {
    max-height: 35%;
}

.card-space {
    background-color: white;
    border-radius: 1rem;
    grid-row: 2;
    grid-column: 1 / 4;
}

.text-margin {
    margin-bottom: 2rem;
} */




/*******************************
       INDEX  Page Rules
*******************************/

@font-face {
    font-family: 'fira sans';
    src: url(fonts/FiraSans-Regular.ttf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'frank ruhl libre';
    src: url(fonts/FrankRuhlLibre-Bold.ttf);
    font-style: normal;
    font-weight: 100;
}

* {
    margin: 0;
}

body {

    background-color: #E5E5E5;
    font-family: fira sans;
}

h2 {
    display: block;
    width: 100%;
    color: white;
    font-family: frank ruhl, serif;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: -3px;
    text-align: center;
}

h3 {
    font-family: frank ruhl, serif;
    color: white;
    font-size: 1.9rem;
    text-align: left;
    line-height: 1.75rem;
}

h4 {
    font-family: frank ruhl, serif;
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;

}

h5 {
    font-family: frank ruhl, serif;
    font-size: 1.25rem;
    padding: 1.25rem;
}

p {
    font-family: fira sans, sans serif;
}

.question-p {
    font-size: 0.75rem;
    text-align: center;
}

.font-black {
    color: black;
}

/*************************************
               CONTACT Page Rules
*************************************/
@font-face {
    font-family: lira sans;
    src: url(fonts/FiraSans-Regular.ttf);
}

@font-face {
    font-family: frank ruhl;
    src: url(fonts/FrankRuhlLibre-Bold.ttf);
}


body {
    font-family: lira sans, sans-serif;
}

.wrapper {
    max-width: 960px;
    margin: auto;
}

.flexcenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blockpadding {
    padding-top: 10%;
}

.topmargin {
    padding-top: 20px;
}

li a,
li p,
label,
address {
    font-size: 0.75rem;
    line-height: 1.5rem;
    font-weight: 900;
}

.button-design {
    background-color: white;
    width: 9.5rem;
    height: 2.2rem;
    border: none;
    border-radius: 2.2rem;
    box-shadow: 0 2px rgb(80, 80, 80);
    text-transform: uppercase;
    font-size: 0.6rem;
    font-weight: 700;
}

.color-1 {
    background-color: rgb(199, 221, 234);
}

.color-2 {
    background-color: rgb(241, 121, 73);
}

.color-3 {
    background-color: rgb(250, 177, 49);
}

.color-4 {
    background-color: rgb(169, 161, 158);
}

.color-5 {
    background-color: rgb(235, 235, 235);
}

/*****************************
        Header index
******************************/

.index-header {

    padding: 0;
    width: 100%;
}

.intro-container {

    background-color: #C7DDEA;

}

.intro-container h2 {
    font-family: frank ruhl libre;
    margin-top: 10%;
    justify-content: space-around;
}

.intro-container p {
    font-family: fira sans;
    margin-top: 10px;
    padding: 10px;

}

.price {
    color: white;
}


.image-family {
    max-width: 100vw;
    height: auto;
    padding-bottom: 0;

}

.learn-container {
    padding: 50px;
    flex-direction: column;
    background-color: orange;
    display: flex;
    grid-row: 3 / 3;
}

.join-container {
    padding: 50px;
    flex-direction: column;
    background-color: tomato;
    display: flex;
    grid-row: 2 / 2;
}




/*******************************************
                Contact Heading
*******************************************/
.contact-header {
    background-color: rgb(199, 221, 234);
    padding-top: 40px;
}

/* .contact-header{
    background-color: rgb(199, 221, 234);
    padding-top: 40px;
}
.toppicture {
    max-height: 20%;
    max-width: 20%;
}
.index-top a {
    color: white;
    text-decoration: none;
    font-family: frank ruhl, serif;
    font-size: 35px;
    font-weight: 900;
    letter-spacing: -1px;
}
.header-right-down-con p, .header-right-up-con p {
    font-size: 12px;
}
.heading-index {
    color: black;
    text-align: left;
}
.headingtext {
    color: black;
}
.navbar {
    display: none;
}

.header-left-con {
    display: grid;
    grid-template-rows: repeat(4, auto);
}
.img-container {
    max-width: 300px;
    justify-self: end;
}
.img-family {
    max-width: 100%;
}
.header-right-up-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20%;
}
.header-right-down-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20%;
}
.main-cards {
    
}


.card-content {
    display: grid;
    grid-template-rows: 40px 200px;
    grid-template-columns: 100%;
    padding: 40px;
}
.card-img {
    display: flex;
    grid-row: 1 / 3;
    max-height: 200px;
    overflow: hidden;
    justify-content: center;
    border-radius: 20px;
}
.card-img-size {
    height: 250px;
}
.card-text {
    grid-row: 2;
    text-align: center;
    background-color: white;
} */



/*************************************
            INDEX MAIN
*************************************/

main {
    background-color: rgb(169, 161, 158)
}

/* .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
} */

/* .card-image {
    behållare för bilderna på personer i olika åldrar
    overflow: hidden; 
    width: 70vw;
    height: calc(70vw/2);
    /*kanske en dum storlek, behöver ändras til desktop
    margin: auto;
    centrerar bild-behållaren
    border-radius: 10px;
    /*gör hörnen rundade
    position: relative;
    top: -4rem;
    /*gör så att bildbehållaren flyttas uppåt, kanske dålig lösning
}

.adult {
    background: orange url("img/adult.png") no-repeat center 10px;
    /* 10px avstånd till toppen så inte huvudet slår i taket 
    background-size: 30% auto;
    /*bilden tar upp en 30% av behållarens bredd och klipps på höjden pga overflow hidden
}

.child {
    background: lightskyblue url("img/child.png") no-repeat center 20px;
    background-size: 30% auto;
}

.old {
    background: coral url("img/old.png") no-repeat center 20px;
    background-size: 45% auto;
    /*old fart är lite bredare än de andra
}

.card {
    background-color: white;
    margin: 2em;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
} */

.main-header{
    padding: 10%;
    align-items: center;
}



.main-header {
    padding: 10% 10% 0 10%;
    /*ingen padding bottom annars blir det för långt avstånd under rubriken*/
}

.main-button {
    margin-top: 4rem;
}

.main-text {
    padding: 0 10% 10% 10%;
    /*ingen padding top */
}


.main-about {
    background-color: orange;
    padding: 10%;
}

main button {
    display: none;
}



/*******************************************
              CONTACT  Main
*******************************************/
.formcontainer {
    padding-bottom: 8%;
}

.contactform {
    display: grid;
    color: white;
    width: 12.5rem;
}

input {
    height: 2.2rem;
}

textarea {
    height: 9.5rem;
    resize: none;
    padding: 10px;
}

input,
textarea {
    margin-bottom: 5%;
    border: none;
    border-radius: 2px;
    font-family: lira sans, sans-serif;
    font-size: 0.75rem;

}

.submitbtn {
    justify-self: center;
}

.mapcontainer {
    background-color: rgb(80, 80, 80);
    background-image: url(img/map.jpg);
    padding: 0;
}

.card {
    background-color: #fab131;
    padding: 20px;
    margin: 15%;
}

address {
    color: white;
    font-style: normal;
}

.bottom {
    background-color: rgb(119, 117, 116);
    height: 100px;
}

/***************************************
            INDEX LIST
***************************************/

.list-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25vh 25vh 25vh 25vh 25vh 25vh;
}

.list-container section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.list-heading {
    background-color: lightblue;
}

.step1 {
    background-color: white;
}

.step2 {
    background-color: lightgray;
}

.step3 {
    background-color: white;
}

.step4 {
    background-color: tomato;
}

.step5 {
    background-color: white;
}


/***********************************
       INDEX  FOOTER
***********************************/

.takeup {
    background-color: darkgray;
    min-height: 2rem;
}

/****************************************
                Media query
****************************************/
@media only screen and (min-width: 769px) {


    /*********************Emil test*******************/
    .main-cards-con {
        flex-direction: row;
    }
    .main-card {
        
        margin: 10px;
        
        
    }

    /*************************************
                CONTACT Page Rules
    *************************************/

    .flexcenter {
        flex-direction: row;
    }

    /************************************
        INDEX HEADER desktop
    ************************************/

    .index-header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .intro-container {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row: repeat(2, auto);
        flex-direction: column;
    }

    .intro-text {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        padding: 0 100px;

    }

    .intro-button {
        grid-row: 2 / 2;
        grid-column: 1 / 1;
        margin-top: 4rem;
        margin-left: 100px;
    }

    .image-family {

        grid-row: 2 / 3;
        grid-column: 1 / 3;
        max-width: 60%;
        justify-self: right;

    }

    .learn-container {

        justify-content: center;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        align-items: center;

    }


    .join-container {
        justify-content: center;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        align-items: center;

    }





    /************************************
           CONTACT Heading desktop
    *************************************/
    .heading {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 22rem;
        overflow: hidden;
    }

    .headingtext {
        grid-column: 2;
    }

    .toppicture {
        align-self: flex-start;
        grid-row: 1;
        grid-column: 3;
        max-height: 150%;
        max-width: 150%;
    }

    .navbar {
        display: flex;
        background-color: white;
        height: 4.25rem;
        white-space: nowrap;
    }

    .navigations {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 20px 20%;
    }

    .navigations li {
        display: inline-flex;
        list-style: none;
    }

    .activepage {
        color: black;
    }

    a {
        text-decoration: none;
        color: rgb(169, 161, 158);
    }

    a:hover {
        color: black;
    }

    /*************************************
       INDEX  MAIN  DESKTOP
*************************************/


    .card-image {
        /*behållare för bilderna på personer i olika åldrar*/
        width: 90%;
    }

    .index-main {
        background: linear-gradient(180deg, gray 50%, orange 50%);
        /*två bakgrundsfärger*/
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        padding: 0 100px;
        max-width: 960px;
    }

    .index-main button {
        display: block;
    }

    .main-header {
        grid-row: 1/2;
        grid-column:1/2;
        padding: 100px 0;
    }

    .main-text {
        grid-row: 1/2;
        grid-column: 2/3;
        padding: 100px 0 100px 100px;

    }

    .main-about {
        grid-row: 3/4;
        grid-column: 1/3;


    }

    /*******************
    kortet-Emil fix
    ******************/

    .card-container {
        grid-row: 2/3;
        grid-column: 1/3;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    /************************************
           CONTACT Main Desktop
    *************************************/
    .formcontainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .contactform {
        width: 19rem;
    }

    .submitbtn {
        justify-self: right;
    }

    .header-container {
        align-self: flex-start;
        padding: 0 60px;
    }

    .header-container>h2 {
        text-align: left;
    }

    /**********************************
        INDEX DESKTOP LIST
    ***********************************/

    .list-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }



    /**********************************
           CONTACT map section
    ***********************************/
    .card {
        margin: 3% 0% 17% 8%;
        padding-bottom: 70px;
    }


}